Repository grafana/mcp-grafana, pull requests merged in 2025-03, with the labels that each got.

#29 feat: rewrite MCP server in Go
  .dockerignore
  .github/workflows/cloud.yml
  .github/workflows/go.yml
  .github/workflows/python.yml
  .github/workflows/release.yml
  Dockerfile
  Makefile
  README.md
  cmd/mcp-grafana/main.go
  docker-compose.yaml
  go.mod
  go.sum
  go.tools.mod
  go.tools.sum
  mcpgrafana.go
  mcpgrafana_test.go
  pyproject.toml
  src/mcp_grafana/__init__.py
  src/mcp_grafana/cli.py
  src/mcp_grafana/client.py
  src/mcp_grafana/grafana_types.py
  src/mcp_grafana/py.typed
  src/mcp_grafana/settings.py
  src/mcp_grafana/tools/__init__.py
  src/mcp_grafana/tools/datasources.py
  src/mcp_grafana/tools/incident.py
  src/mcp_grafana/tools/prometheus.py
  src/mcp_grafana/tools/search.py
  tests/conftest.py
  tests/grafana_types_test.py
  tests/prometheus.yml
  tests/provisioning/datasources/datasources.yaml
  tests/settings_test.py
  tests/tools/__init__.py
  tests/tools/datasources_test.py
  tests/tools/incident_test.py
  tests/tools/prometheus_test.py
  tests/tools/search_test.py
  tools.go
  tools/datasources.go
  tools/datasources_test.go
  tools/incident.go
  tools/incident_integration_test.go
  tools/incident_test.go
  tools/prometheus.go
  tools/prometheus_test.go
  tools/search.go
  tools/search_test.go
  tools_test.go
  uv.lock
Labels: enhancement

#44 Add loki tools
  README.md
  cmd/mcp-grafana/main.go
  docker-compose.yaml
  tests/loki-config.yml
  tests/promtail-config.yml
  tests/provisioning/datasources/datasources.yaml
  tools/datasources_test.go
  tools/loki.go
  tools/loki_test.go
Labels: enhancement, tools

#58 Alerting: Add support for getting alert rule information
  README.md
  cmd/mcp-grafana/main.go
  go.mod
  go.sum
  testdata/provisioning/alerting/alert_rules.yaml
  tools/alerting.go
  tools/alerting_test.go
  tools/prometheus.go
  tools/prometheus_test.go
Labels: tools
